.kant {
	opacity: 0.6;
	text-align: center;
	color: #cb4335;
	border-bottom: 15px dotted red;
	width: 350px;
	height: 45px;
	border: 1px solid black;
	border-style: ridge;
	margin: 25px 50px 20px 100px;
}
.box {
	width: 200px;
	height: 60px;
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
	border-width: 10px;
	background-color: rgba(64, 224, 208, 0.438);
	overflow: auto;
	float: right;
}

.lastheader {
	border: 1px dotted white;
	border-bottom: 30px blueviolet;
	opacity: 0.6;
	text-align: center;
}
h2 {
	text-decoration: underline;
	border-radius: 20px;
}
@keyframes mymove {
	50% {
		border-bottom: 15px solid lightblue;
	}
}

nav a {
	display: inline-block;
	font-weight: bold;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	background-color: ivory;
	opacity: 0.3;
	margin: 0 auto;
}

nav a:hover {
	background-color: #fdfefe;
	color: #17202a;
	opacity: 1;
}

nav a:focus {
	background-color: #fdfefe;
	color: #17202a;
	opacity: 1;
}

nav a:active {
	background-color: #fdfefe;
	color: #17202a;
	opacity: 1;
}

nav a.highlight {
	background-color: #fdfefe;
	color: #17202a;
	opacity: 1;
}

a {
	display: flex-end;
}
nav {
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: #e6e6fa;
	opacity: 0, 6;
}
section {
	margin-left: 250px;
	margin-right: 20px;
	padding: 0 20px;
}

p {
	text-align: center;
	background: #e6e6fa;
	color: #444444;
	border-radius: 15%px;
}
p:hover {
	border: 1px;
	color: blueviolet;
}
/*h2:first-letter {
	color: blueviolet;*/

a {
	opacity: 0.6;
	text-align: center;
	background: #e6e6fa;
	letter-spacing: 5px;
	text-indent: 50px;
}
.main-background {
	background-color: #fff5ee;
}
/*background-image: url("75220686_955499921504055_1159215439876718592_o.jpg");*/

body {
	background: linear-gradient(#ffb6c1 0%, #e6e6fab9 100%);
	background-attachment: scroll;
}
* {
	font-family: Arial, Helvetica, sans-serif;
}
span {
	background: rgb(250, 236, 238);
	opacity: 0.6;
	border-radius: 20px;
	border-color: #e6e6fab9;
	background: linear-gradient(#45b39d 0%, #fff5ee 100%);
}
img .last {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.last {
	width: 40%;
	margin: 50px 250px;
}
.backgroundgreen {
	background: linear-gradient(#45b39d 0%, #fff5ee 100%);
}

.letterswhite {
	color: white;
	text-align: center;
	margin-left: 50px;
	margin-right: 200px;
}

backgroundwhite. {
	background-color: white;
	opacity: 0.6;
}

.headercenter {
	text-align: center;
	animation: mymove 5s infinite;
}

.cool {
	text-align: center;
	border-radius: 20px;
	color: #e6e6fa;
	margin-left: 300px;
}

h1 {
	border-radius: 20px;
	border-color: #e6e6fa;
}
h3 {
	float: right;
}

.soup {
	margin-left: 270px;
	margin-top: 50px;
	background-color: #ff7f5069;
	font-family: fantasy;
	font-size: 16px;
}
.month {
	padding: 70px 25px;
	background: #1abc9c;
	text-align: center;
}
.month ul {
	margin: 0;
	padding: 0;
}
.month ul li {
	color: white;
	font-size: 20px;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.prev {
	float: left;
	padding: 10px;
}

.next {
	float: right;
	padding: 10px;
}

.weekdays li {
	display: inline-block;
	color: #666;
	width: 13%;
	text-align: center;
	background-color: #ddd;
	opacity: 0.8;
	padding: 10px 0;
	margin: 0;
}

.weekdays:focus: {
	opacity: 1px;
}

.days li {
	display: inline-block;
	width: 13%;
	background-color: azure;
	padding: 10px 0;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
}
li:hover {
	color: #ffa500;
}
.weekdays li:hover {
	color: #000000;
}
.active {
	border: 7px solid #ffff00;
}
.trans {
	color: #ffa500;
	line-height: 200px;
	background-color: #eee8aa;
	border-radius: 6px;
	text-align: center;
	width: 200px;
	height: 250px;
	transition-property: color, width, background, border-radius;
	transition-duration: 0.5c;
	padding: 30px;
	margin-left: 350px;
	margin-bottom: 30px;
}
.trans:hover {
	background-color: #aab4ee;
	color: #d9ff00;
	width: 50px;
	border-radius: 50%;
}
.trans:active {
	color: #57d657;
	width: 400px;
	background-color: rgb(44, 168, 226);
}

div {
	margin-left: 260px;
}
.trans2 {
	margin-left: 280px;
	border-radius: 6px;
	border-color: #00ffff;
	width: 100px;
	height: 80px;
}
.trans2:hover {
	transform: scale(30%);
	transform: rotateX(150deg);
	border-radius: 20px;
	border-color: #ff8c00;
	width: 250px;
	transform: translate(100, 75);
	transform: skew(30deg, 15deg);
	transition-duration: 5c;
	transition-delay: 5c;
}

.trans2:active {
	color: #57d657;
	width: 400px;
	height: 300px;
	background-color: rgb(44, 168, 226);
	transform: rotateX(150deg);
	border-radius: 50px;
}
.pos {
	color: red;
	position: fixt;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	top: 30px;
	left: 100px;
}
.pos p {
	color: green;
	position: static;
}
.menu ul li:nth-child(3) {
	border: 6px;
	border-color: tomato;
	background-color: yellowgreen;
	width: 100px;
	border-radius: 20px;
}
.menu ul li:first-child {
	border-radius: 7px;
	background-color: #fc4727;
	width: 100px;
}
.menu ul li:nth-child(2) {
	background-color: blue;
	width: 100px;
	border-radius: 7px;
}

.menu ul li:nth-child(4) {
	border-radius: 7px;
	background-color: hsl(313, 97%, 57%);
	width: 100px;
}
.menu ul li:nth-child(2) {
	background-color: blue;
	width: 100px;
	border-radius: 7px;
}
.menu:hover {
	color: yellow;
	border-color: turquoise;
}
.menu li:active {
	transform: skew(30deg, 15deg);
}
.script {
	margin: 270px;
}

.letterswhite {
	float: right;
}
.last {
	float: left;
}
.img {
	margin: 370px;
}
